{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "jasmine": true
    },
    "plugins": [
        "react",
        "jest-dom"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}