.App {
  text-align: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.wrapper {
  width: 80%;
}
