.datalist-input {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.datalist-input .autocomplete-input {
    width: 100%;
}

.datalist-input .datalist-items {
    position: absolute;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.datalist-input .default-datalist-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
}

.datalist-input .default-datalist-items div:not(.datalist-active-item) {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.datalist-input .default-datalist-items div:not(.datalist-active-item):hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.datalist-input .datalist-active-item {
    /*when navigating through the items using the arrow keys:*/
    cursor: pointer;
}

.datalist-input .datalist-active-item-default {
    background-color: DodgerBlue;
    color: #ffffff;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
}